:root {
    --background-color: #365D8A;
    --card-color: #204976;
    --dice-button-color: #64378E;
    --skip-button-color: #64378E;
    --player-tab-color: #2B7E7E;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.center {
    background-color: var(--background-color);
    float: left;
    height: 100vh;
    width: 100%;
}

.center-middle {
    background-color: var(--background-color);
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: xx-large;
    width: 100%;
}

.card {
    background-color: var(--card-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 30%;
    border-radius: 3px;
}

.player-window {
    background-color: var(--background-color);
    height: 30vh;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.player-list {
    background-color: chartreuse;
    height: 10vh;
    display: flex;
}

.player-tab {
    background-color: var(--player-tab-color);
    width: -webkit-fill-available;
    text-align: center;
    border: 2px solid #085656;
}

.dice-button {
    background-color: var(--dice-button-color);
    width: 25vw;
    height: 15vh;
    border-radius: 10px;
    font-size: 80px;
    text-align: center;
}

.skip-button {
    background-color: var(--skip-button-color);
    width: 25vw;
    height: 15vh;
    border-radius: 10px;
}

.start-dialog {
     /* todo */
}
